@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/static/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
}
html {
  scroll-behavior: smooth;
  font-family: 'Roboto';
}
section{
  scroll-margin-top: 60px;
}
body{
  @apply bg-primary
}

